{% extends 'flags/base.html' %} {% load static %} {% block body %}
<div class="container-fluid">
  <div class="dashboard-summary pt-4">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="summary-container text-center p-3 mb-3">
          <div class="mt-3">
            <h5 class="text-secondary font-700 text-dark">Total domains</h5>
          </div>
          <div>
            <span class="text-dark font-700 total-number">
              {{summary.domains.all}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="summary-container text-center p-3 mb-3">
          <div class="mt-3">
            <h5 class="text-secondary font-700 text-dark">Total flags</h5>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <span class="text-dark font-700 total-number"
              >{{summary.flags}}</span
            >
            <span class="badge badge-success ml-3"
              >For {{summary.domains.all}} Domains</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="summary-container text-center p-3 mb-3">
          <div class="mt-3">
            <h5 class="text-secondary font-700 text-dark">Expired domains</h5>
          </div>
          <div>
            <span class="text-danger font-700 total-number"
              >{{summary.domains.expired}}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="charts mt-3">
    <div class="d-flex align-items-center justify-content-between mb-4 mt-3">
      <div>
        <h5 class="text-dark font-700 mt-1">Domains</h5>
      </div>
      <a href="{% url 'domains' %}" style="text-decoration: none">
        <button class="btn btn-primary d-flex align-items-center">
          <span class="icon-eye ml-2 mr-2"></span> View domains
        </button>
      </a>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="chart-container p-3">
          <div class="row">
            <div class="col-lg-8">
              <canvas id="domainsChart" style="width: 100%"></canvas>
            </div>
            <div class="col-lg-4">
              <canvas id="domainsPie" style="width: 100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-holder mt-3">
    <div class="card">
      <div class="card-container">
        <div class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h6 class="font-700 text-dark">Latest Domains</h6>
            </div>
            <div>
              <span class="icon-eye mr-2"></span>
              <span class="icon-question mr-2"></span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
              <th class="text-dark">Status</th>
              <th class="text-dark">Domain</th>
              <th class="text-dark">Created at</th>
              <th class="text-dark">Expire at</th>
            </thead>
            <tbody>
              {% if latest_domains %} {% for domain in latest_domains %}
              <tr>
                <td>
                  {% if domain.is_active %}
                  <span class="badge badge-success">ACTIVE</span>
                  {% else %}
                  <span class="badge badge-danger">DEACTIVE</span>{% endif %}
                </td>
                <td class="text-dark"><strong>{{domain.fqdn}}</strong></td>
                <td>{{domain.created_at.date}}</td>
                <td>{{domain.expire_at.date}}</td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block header-title %}
<div class="d-flex align-items-center justify-content-between w-100">
  <h4 class="text-dark font-700 mt-1">Dashboard</h4>
</div>
{% endblock %} {% block title %} Dashboard {% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById("domainsChart");
  const pie = document.getElementById("domainsPie");

  new Chart(ctx, {
    type: "line",
    data: {
      labels: [{% for label in domains_line_chart_data.labels %} '{{ label }}', {% endfor %}],
      datasets: [
        {
          label: "Domains",
          data: [{% for data in domains_line_chart_data.data %} '{{ data }}', {% endfor %}],
          borderWidth: 1,
          backgroundColor:"#0b2447",
          borderColor: "#0b2447",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: false,
        },
        x: {
          grid: {
            display: false,
          },
        },
      },
      elements: {
        point: {
          radius: 0,
        },
      },
      responsive: true,
      tension: 0.2,
    },
  });

  //PIECHART

  const pie_data = [3, 3];

  new Chart(pie, {
    type: "doughnut",
    data: {
      labels: [{% for label in pie_chart_data.labels %} '{{ label }}', {% endfor %}],
      datasets: [
        {
          label: "Domains",
          data: [{% for data in pie_chart_data.data %} '{{ data }}', {% endfor %}],
          backgroundColor: ["#0F297F", "#4C6ACC"],
          hoverOffset: 4,
        },
      ],
    },
    options: {},
  });
</script>
{% endblock %}
