{% extends 'flags/base.html' %} {% load static %} {% block body %}
<div class="container-fluid">
  <div class="filter-holder p-3 mt-3">
    <form action="">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <label for="status">Status</label>
          <select name="status" class="form-control">
            <option value="">Select status</option>
            <option value="ACTIVE">ACTIVE</option>
            <option value="DEACTIVE">DEACTIVE</option>
          </select>
        </div>
        <div class="col-lg-5 col-md-5">
          <label for="domain">Domain</label>
          <input name="domain" type="text" class="form-control" />
        </div>
        <div class="col-lg-1 col-md-1 d-flex align-items-end">
          <button class="btn btn-filter btn-primary px-3">
            <span class="icon-equalizer"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="table-holder mt-3">
    <div class="card">
      <div class="card-container">
        <div class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h6 class="font-700 text-dark">Registered domains</h6>
            </div>
            <div>
              <span class="icon-question mr-2"></span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
              <th class="text-dark">Status</th>
              <th class="text-dark">Domain</th>
              <th class="text-dark">Created at</th>
              <th class="text-dark">Expire on</th>
              <th></th>
            </thead>
            <tbody>
              {% if domains %} {% for domain in domains %}
              <tr>
                <td>
                  {% if domain.is_active %}
                  <span class="badge badge-success">ACTIVE</span>
                  {% else %}
                  <span class="badge badge-danger">DEACTIVE</span>{% endif %}
                </td>
                <td class="text-dark"><strong>{{domain.fqdn}}</strong></td>
                <td>{{domain.created_at.date}}</td>
                <td>{{domain.expire_at.date}}</td>
                <td class="d-flex justify-content-end">
                  <a href="{% url 'domain-details' domain.id %}">
                    <button class="btn btn-sm btn-primary mr-2">
                      <span class="icon-eye"></span>
                    </button>
                  </a>
                  <a href="">
                    <button class="btn btn-sm btn-danger mr-2">
                      <span class="icon-trash"></span>
                    </button>
                  </a>
                </td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block header-title %}
<div class="d-flex align-items-center justify-content-between w-100">
  <h4 class="text-dark font-700 mt-1">Domains</h4>
  <a href="{% url 'add-domains' %}" style="text-decoration: none">
    <button class="btn btn-primary d-flex align-items-center">
      <span class="icon-plus ml-2 mr-2"></span> Import domains
    </button>
  </a>
</div>
{% endblock %} {% block title %} Domains {% endblock %}
