body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f7;
}

a {
  text-decoration: none;
}

.card {
  background-color: #fff;
  background-clip: border-box;
  box-shadow: rgba(167, 167, 186, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  border: 0px;
}

.card .card-header {
  padding: 15px !important;
  border-radius: 10px 10px 0px 0px;
  background-color: #fff;
}

.table td,
.table th {
  font-size: 14px;
}

tbody tr {
  cursor: pointer;
}

.font-700 {
  font-weight: 700;
}

.btn-primary {
  background-color: #0b2447 !important;
  border-color: #0b2447;
}

.auth-bg {
  background-color: #0b2447;
  color: #fff;
}

.form-control {
  border-radius: 0px !important;
  height: 50px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.btn-filter {
  height: 50px !important;
}

.btn-black {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-black:hover {
  color: #fff;
  background-color: #141515;
  border-color: #141515;
}

/*------------------ADMIN PANEL CSS----------------*/

.sidebar {
  width: 55px;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
}

.sidebar .logo-holder {
  width: 55px;
  height: 60px;
  background-color: #0b2447;
}

.sidebar a {
  font-size: 16px;
  padding: 15px 8px 12px 8px;
  display: block;
  color: #0b2447;
  text-decoration: none;
}

.sidebar .active {
  background-color: #f4f6f7;
}

.top-nav {
  height: 60px;
  margin-left: 55px;
}

.main {
  margin-left: 55px;
}

.body-holder {
  background-color: #f4f6f7;
  min-height: 100vh;
}

.summary-container {
  width: 100%;
  height: 150px;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: rgba(167, 167, 186, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.summary-container .icon {
  background-color: #0b2447;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.summary-container .total-number {
  font-size: 35px;
}

.chart-container {
  width: 100%;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: rgba(167, 167, 186, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.filter-holder {
  width: 100%;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: rgba(167, 167, 186, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.dropzone-container {
  width: 100%;
  height: 300px;
  cursor: pointer;
  background-color: #e4eaf3;
  border: 1px dashed #0b2447;
  background-clip: border-box;
  box-shadow: rgba(167, 167, 186, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
